<article class="movie">
  {{!-- <div class="title">
  <span style="float:left"><a href="/movies/{{id}}">{{title}}</a></span><span style="float:right">Posted by {{user.username}}</span><br>
  </div> --}}

  <div class="card">
  <div class="card-body">
    <span><a href="/movies/{{id}}">{{title}}</a></span><span>Posted by {{user.username}}</span><br>
  </div>
</div>
  {{!-- <div class="meta">
    {{movies.vote_count}} point(s) by {{movies.user.username}} on
    {{movies.created_at}}
    |
    <!-- <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a> -->
  </div> --}}
</article>